[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-wtf = "==1.0.1"
flask-login = "==0.6.2"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
